h1, h4 {
    font-family: 'Gabarito', sans-serif;
}
h5 {
    font-family: sans-serif;
}
h1 {
    color: #000;
    font-size: 40px;
    line-height: 32px;
}

h4 {
    line-height: normal;
    text-transform: uppercase;
}

html {
    font-family: "Inter", sans-serif;
    color: #101010;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
}

html,
body {
  margin: 0;
  height: 100vh;
}

h1,
h4,
p,
a {
  margin: 0;
}

.main {
  padding: 30px 2vw 0 2vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts {
  margin-right: 3vw;
}

.contacts p {
  width: max-content;  
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  gap: 25px;
}

@media all and (max-width:1000px){

    .contacts p{
        flex-direction: column;
        gap: 0px;
        margin-bottom: 15%;
    }
}

@media all and (max-width:700px){
    .main{
        flex-direction: column-reverse;
    }
}

.header{
    display: flex;
    justify-content: space-between;

    border-bottom: 0.2px solid gray;
    margin-bottom: 30px;
}

.content-text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

#content-header{
    margin-bottom: 50px;
}
